version: '2'

services:

  elasticsearch:
    build: elasticsearch/
    volumes:
      - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./elasticsearch/data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - elk

  logstash:
    build: logstash/
    command: logstash -f /usr/share/logstash/pipeline/gpuz.conf
    volumes:
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./logstash/pipeline:/usr/share/logstash/pipeline
      - ./logs/gpuz/gpuz.log:/logs/gpuz/gpuz.log
    ports:
      - "5000:5000"
    environment:
      LS_JAVA_OPTS: "-Xmx256m -Xms256m"
    networks:
      - elk
    depends_on:
      - elasticsearch

  kibana:
    build: kibana/
    volumes:
      - ./kibana/config/:/usr/share/kibana/config
    ports:
      - "5601:5601"
    networks:
      - elk
    depends_on:
      - elasticsearch

  metricbeat:
    build: metricbeat/
    volumes:
      - ./metricbeat/config/:/usr/share/metricbeat/config
    ports:
      - "5602:5602"
    networks:
      - elk
    depends_on:
      - elasticsearch

  packetbeat:
    build: packetbeat/
    command: packetbeat -v -e -E output.elasticsearch.hosts='["localhost:9200"]'
    volumes:
      - ./packetbeat/config/:/usr/share/packetbeat/config
    ports:
      - "5603:5603"
    cap_add: ['NET_RAW', 'NET_ADMIN']
    network_mode: host
    depends_on:
      - elasticsearch

networks:

  elk:
    driver: bridge
